*{
    padding: 0;
    margin: 0;
}

header{
    background-color: white;
    padding: 7px 0;
}
.headerContainer {
    margin: auto;
    max-width: 1064px;
}
.d-flex{
    display: flex;

}
.justify-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}
.wrap-flex{
    flex-wrap: wrap;
}

header ul{
    list-style: none;
}

header nav li a{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #1C1B1B;
    text-decoration: none;
}
header nav li{
    margin-right: 28px;
}

header li:first-of-type{
    margin-right: 16px;
}
header nav li:first-of-type{
    margin-right: 28px;
}
header li:last-of-type{
    margin-left: 7px;
}
header nav li:last-of-type{
    margin-left: 0;
}
header .headerContainer{
    position: relative;
}

header .logo{
    position: absolute;
    left: 50%;
    margin-left: -40px;
    top: 13px;
}
.mainBanner{
    padding: 90px 0;
    background-color: #F0EFEB;
    position: relative;
}
.mainBanner h1{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    color: #000000;
    margin-bottom: 42px;
}

.mainBanner p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
   margin-bottom: 26px;
}

.mainBanner a{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    display: inline-block;
    background: #000000;
    border: 1px solid #000000;
    border-radius: 100px;
    padding: 7px 23px;
    text-decoration: none;
}
.mainBanner img{
    position: absolute;
    right: 6%;
    top: 0;
}

.descriptionMain{
    padding-top: 60px;
    padding-bottom: 248px;
    background-color: white;
}

.descriptionMain h2{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    margin-bottom: 27px;
}

.descriptionMain p{
    text-align: center;
    max-width: 672px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
   margin: auto;
}

.descriptionMain h3{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000000;
    margin-top: 47px;
    margin-bottom: 88px;
}
.descriptionMain h2:last-of-type{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
}
.bestSellers{
    margin: auto;
    max-width: 1064px;
}
.bestSellers img {
    max-width: 309px;
    margin: auto;
}

.forImageSecThree{
    max-width: 315px;
    margin: auto;
}
.bestSellers .img{
    width: 100%;
    display: block;
}

.bestSellers p{
    max-width: 156px;
    margin-top: 27px;
    margin-bottom: 17px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}
.bestSellers p:nth-child(2){
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}
.bestSellers p:last-of-type{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    text-decoration-line: underline;
    color: #000000;
}

.people{
    background: rgba(204, 204, 204, 0.3);
    padding-top: 76px;
    padding-bottom: 51px;
}
.people .forImage {
    max-width: 385px;
    margin-right: 50px;
}

.people .forImage img{
    width: 100%;
    display: block;
}
.people .descriptionPeopleSec{
    max-width: 498px;
}
.descriptionPeopleSec{
    padding-top: 70px;
    padding-bottom: 121px;
}
.descriptionPeopleSec h3{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin-bottom: 31px;
}
.descriptionPeopleSec p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin-bottom: 31px;
}

.descriptionPeopleSec a{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #000000;

}
.power{
    background: rgba(204, 204, 204, 0.3);
    padding-top: 76px;
    padding-bottom: 51px;
}
.power .forImage {
    max-width: 385px;
    margin-right: 50px;
}
.power .descriptionPowerSec{
    max-width: 530px;
}
.descriptionPowerSec {
    padding-top: 70px;
    padding-bottom: 142px;
}
.descriptionPowerSec h3{
    margin-bottom: 31px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #000000;

}
.descriptionPowerSec p{
    margin-bottom: 39px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}
.descriptionPowerSec a{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #000000;
}
.culture{
    background: rgba(204, 204, 204, 0.6);
    padding-top: 76px;
    padding-bottom: 51px;
}
.culture .descriptionCultureSec{
    text-align: right;
    max-width: 513px;
    margin-right: 60px;
}
.culture .forImage {
    max-width: 385px;
}
.culture .forImage img {
    width: 100%;
    display: block;
}
.descriptionCultureSec h3{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: right;
    color: #000000;
    margin-bottom: 31px;
}
.descriptionCultureSec p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: right;
    color: #000000;
    margin-bottom: 31px;
}
.descriptionCultureSec a{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-align: right;
    text-decoration-line: underline;
    color: #000000;
}

.justify-left{
    justify-content: end;
}

.dots{
    background-color: white;
    padding-top: 190px;
    padding-bottom: 290px;
    position: relative;

}
.dots h3:first-of-type{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    margin-bottom: 69px;
}
.dots h3:last-of-type{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    margin-top: 63px;
}
.dotsType{
    text-align: center;
    max-width: 914px;
    margin: auto;
}


.dotsType p:before{
    margin: auto;
    content:"";
    display: block;
    height: 70px;
    width: 70px;
    border-radius: 35px;
    background-color: #21F7EC;
    margin-bottom: 26px;

}
.dotsType p:nth-child(2):before{
    background-color: #33D3BC;
}
.dotsType p:nth-child(3):before{
    background-color: #18A5C6;
}
.dotsType p:nth-child(4):before{
    background-color: #D38F62;;
}
.dotsType p:nth-child(5):before{
    background-color: #F94C43;
}
.dotsType p:nth-child(6):before{
    background-color: #D399FF;
}


.dotsType p span{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #000000;
}

.voices{
    background-color: #F0F0F0;
    padding-bottom: 52px;

}
.voices .item{
    max-width: 288px;
   text-align: center;
}

.voices .item h4{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.6px;
    color: #000000;
    margin-bottom: 40px;
}
.voices .item p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    margin-bottom: 44px;
}
.voices .item p span{

    font-size: 20px;
    line-height: 23px;
    display: block;

}
.voices .item a{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-decoration-line: underline;
    color: #000000;
}
.voices .item img{
    display: block;
    width: 100%;
    margin-top: -188px;
    margin-bottom: 35px;
}
.keepInTouch {
    background-color: white;
    max-width: 496px;
    margin: auto;
    text-align: center;
    padding-top: 79px;
    padding-bottom: 98px;
}
.keepInTouch h3{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    margin-bottom: 9px;
}
.keepInTouch p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    margin-bottom: 26px;
}
.form{
    max-width: 366px;
    margin: auto;
}
.name{
    height: 35px;
    max-width: 153px;
    margin-bottom: 18px;

}
.name input{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: start;
    color: #A0A0A0;
    padding-left: 8px;
}
.name input:first-of-type{
    margin-right: 60px;
}

.mail {
    height: 35px;
    width: 366px;
    margin-bottom: 23px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: start;
    color: #A0A0A0;
    padding-left: 8px;
}
.submit{
    height: 33px;
    width: 155px;
    background: #000000;
    border: 1px solid #000000;
    border-radius: 100px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}
.lastContainer{
    background-color:#020202;
    padding-top: 51px;
    padding-bottom: 16px;

}
.footer{
    max-width: 1064px;
    margin-left: 174px;

}
.footerInfo{
    margin-bottom: 20px;
}
.media{
    max-width: 70px;
    margin-top: 45px;

}
.media a{
    margin-right: 24px;
}
.about{
    margin-right: 74px;
}
.about p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
    margin-bottom: 36px;
}
.about li a{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;

}
.about li{
    margin-bottom: 12px;
}
.contact p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
    margin-bottom: 36px;

}
.contact li {
    margin-bottom: 12px;
}
.contact li a{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
}
footer p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}
.owl-nav .owl-prev{
    position: absolute;
    left:-35px;
    top: 25%
}

.owl-nav .owl-prev:before{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f053";
    font-size: 50px;
    color: #A0A0A0;
}

.owl-nav .owl-next{
    position: absolute;
    right: -35px;
    top: 25%
}
.owl-nav .owl-next:after{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f054";
    font-size: 50px;
    color: #A0A0A0;
}